.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_left img{
    width: 50px;
}
.navbar_center ul{
    list-style: none;
    display: flex;
    gap: 2em;
}